body {
	font-family: 'Open-sans', sans-serif;
	font-size: 17px;
	line-height: 1.5em;
	max-width: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}



.container {
	margin: auto;
	width: 90%;
  
}



/* Common Classes*/

.primary-text {
	color: #1a649c;
}




/*******************************************
HEADER SECTION
********************************************/

.nav {

	text-align: right;
	height: 70px;
	line-height: 70px;
	text-transform: uppercase;
  
}

.menu {
	margin: 0 30px 0 0;

}

.menu a {
	text-decoration: none;
	color: gray;
	margin: 0 10px;
	line-height: 70px;
	clear: right;
}

.menu a:hover {
	color:#1a649c;
	border-bottom: 3px solid #1a649c;
}

label {
	margin: 0 40px 0 0;
	font-size: 26px;
	line-height: 70px;
	display: none;
	width: 26px;
	float: right;
}

#toggle {
	display: none;
}

@media only screen and (max-width: 768px) {
	label {
		display: block;
		cursor: pointer;
	}

	.menu {
		text-align: center;
		width: 100%;
		display: none;
	}
	.menu a {
		display: block;
		border-bottom: 1px solid #1a649c;
		margin: 0;
	}
	#toggle:checked + .menu {
		display: block;
		margin-bottom: 50px;
	}
}



/* Desktop Nav */

.logo {
	float: left;
  padding: 20px 0 0 20px;

}

.logo-container {
	margin-top: 20px;
}

.logo a {
    color: #1a649c;
    text-decoration: none;
}

.logo a:hover {
    color: #edee70;
    transition: .5s;
}










@media (max-width: 768px) {
    .hero {
        background-image: url('../img/hero-small.jpg') center center;

    }

    .mobile-nav {
        display: block;
    }

    .desktop-nav {
        display: none;
    }
}

/*******************************************
HERO SECTION
********************************************/



#hero {
  border-top:1px solid #1a649c;
	background:linear-gradient(to bottom, rgba(0,0,0,0.40) 0%,rgba(0,0,0,0) 100%), url('../img/hero.jpg')  no-repeat center center;
	height: calc(100vh - 80px);
	background-size: cover;
  border-bottom: 1px solid #1a649c;
  background-position: center;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}


#hero .row {
	height: 100vh;
}

#hero h1 {
	font-size: 50px;
	color: #fff;
	text-align: center;
	
}

.hero-button {
	background: transparent;
	padding: 10px 20px;
	margin-top: 20px;
  display: block;
}


/*******************************************
PRODUCT SECTION
********************************************/

.product-container {
  display: flex;
  background: red;
  justify-content: center;
  margin-right: 80px;
 

}



.product-header {
	text-align: center;
	font-size: 30px;
  color: #1a649c;
}

.item-box{
  width: 230px;
  height: 388px;
  background: #f9f9f9;
  margin-left: 50px;
  border-bottom: 5px solid #f3f3f3;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
  overflow: hidden;
  opacity: 1;
  flex: 1;
  
  
}
.item-box:hover{
  border-bottom: 5px solid #1a649c;
  opacity: 1;
}
h3{
  font: normal 24px/32px Helvetica;
  color: #fff;
  padding: 15px 10px;
  text-align: center;
}
.description{
  font: normal 12px/18px Helvetica;
  color: #fff;
  padding: 0 15px;
  text-align: justify;
}
.picture{
  width: 230px;
  height: 325px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 1;
  cursor: pointer;
}
.picture img{
  max-width: 100%;
  height: 330px;
 }
.item-box:hover .picture {
  left: -230px;
  opacity: 0;
}
.details{
  width: 230px;
  height: 320px;  
  position: absolute;
  top: 0;
  left: 235px;
  background: #333;
  border-top: 5px solid #1a649c;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0;
  cursor: pointer;
}
.item-box:hover .details{
  left: 0;
  opacity: 1;
}

.prices{
  color: #333;
  font: bold 24px/48px Sylfaen;
  padding: 0 12px;
  float: left;
}

.bottom{
  padding: 5px 0;
  overflow: hidden;
  position: absolute;
  bottom: 3px;
  left: 0;
  width:100%;
}

button{
  width: 74px;
  float: right;
  margin: 6px 12px;
  border: 0;
  background: #1a649c;
  text-align: center;
  font: normal 16px/32px Helvetica;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  cursor: pointer;
  border: 2px dashed #1a649c;  
  padding: 0;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

button:hover{
  color: #00a99d;
  background: #f3f3f3;
}


/*******************************************
FOOTER SECTION
********************************************/
.fa{
  font-size: 40px;
}


