* {
  font-family: 'Raleway', sans-serif;

}

/*****************************************
General Styles
*****************************************/

body {
	font-family: 'Open-sans', sans-serif;
	font-size: 17px;
	line-height: 1.5em;
	max-width: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
  text-align: center;
  background: #f8f8f8;
}




.container {
  width: 80%
  margin: 0 auto;
}

/*****************************************
Hero Section
*****************************************/

.hero {
  border-top:1px solid #1a649c;
  border-bottom: 1px solid #1a649c;
  background:linear-gradient(to bottom, rgba(0,0,0,0.40) 0%,rgba(0,0,0,0) 100%)

}
#content {
  text-align: center;
  padding-top: 20%;
  color: #fff;
}

.hero button {
  font-size: 30px;
}

.carousel-inner img {
  height: 30%;
  width: 100%;
}


/*****************************************
Navigation Section
*****************************************/

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 60px;
}

.navbar li {
  font-size: 20px;
  text-align: center;
  margin-left: 5px;
  
}

.nav-item a:hover {
  color:#1a649c;
  border-bottom: 3px solid #1a649c;
}


.logo a {
    color: #1a649c;
    text-decoration: none;
}

.logo a:hover {
    color: #edee70;
    transition: .5s;
}

.fa-power-off {
  margin-right: 10px;
}

.logo div {
 display: inline;
 margin-left: 10px;
}

.fa-shopping-cart {
  margin-left: 10px;
}

.cart {

  background: rgba(27, 100, 157, 0.02);
  border: 2px solid #1a649c;
  border-radius: 10px;
  
 }

 .cart a:hover {
  background: rgba(42, 207, 92, 0.64);

 }

/*****************************************
Product Section
*****************************************/



.product-section {
  margin: 50px;
}

.product-section h1 {
  color: #1a649c;
  text-align: center;
  margin-bottom: 20px;
}


.item-box{
  width: 100%;
  height: 388px;
  background: #f9f9f9;
  margin: 20px auto 0;
  border-bottom: 5px solid #f3f3f3;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
  overflow: hidden;
  opacity: 1;
  flex:2;
}
.item-box:hover{
  border-bottom: 5px solid #1a649c;;
  opacity: 1;
}
h3{
  font: normal 24px/32px Helvetica;
  color: #fff;
  padding: 15px 10px;
  text-align: center;
}
.description{
  font: normal 12px/18px Helvetica;
  color: #fff;
  padding: 0 15px;
  text-align: justify;
}
.picture{
  width: 100%;
  height: 325px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 1;
  cursor: pointer;
}
.picture img{
  max-width: 100%;
  height: 330px;
 }
.item-box:hover .picture {
  left: -230px;
  opacity: 0;
}
.details{
  width: 230px;
  height: 320px;  
  position: absolute;
  top: 0;
  left: 235px;
  background: #333;
  border-top: 5px solid #1a649c;;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0;
  cursor: pointer;
}
.item-box:hover .details{
  left: 0;
  opacity: 1;
}

.prices{
  color: #333;
  font: bold 24px/48px Sylfaen;
  padding: 0 12px;
  float: left;
}

.bottom{
  padding: 5px 0;
  overflow: hidden;
  position: absolute;
  bottom: 3px;
  left: 0;
  width:100%;
}

.item-box button{
  width: 74px;
  float: right;
  margin: 6px 12px;
  border: 0;
  background: #1a649c;;
  text-align: center;
  font: normal 16px/32px Helvetica;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  cursor: pointer;
  border: 2px dashed #1a649c;  
  padding: 0;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
button:hover{
  color: #00a99d;
  background: #f3f3f3;
}




/* Promo Section */

.box-1 {
  background: linear-gradient(to bottom, rgba(0,0,0,0.40) 0%,rgba(0,0,0,0) 100%), url("../img/promo.jpg") no-repeat  center center;
  background-size: cover;
  height: 600px;
  text-align: center;
  padding: 200px;
}

.box-1 h1 {
  color: #fff;
  font-size: 60px;
}

.box-1 button {
  font-size: 30px;
  border-radius: 10px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
}

.box-1 button:hover {
  background:#1a649c; 
}

.box-contents {
 background: linear-gradient(to bottom, rgba(0,0,0,0.40) 0%,rgba(0,0,0,0) 100%);
 border-radius: 10px;
 padding: 20px 10px;
 width: 100%;
}

@media (max-width: 768px) {
  .box-1 h1 {
    font-size: 30px;
    text-align: center;
  }

  .box-1 button  {
    font-size: 20px;
    margin-left: -5px;
  }

  .box-1 {
    background:url("../img/promo-small.jpg") no-repeat  center center;
    background-size: cover;
  }

}  
/* Footer Section */


.social-footer {
  background: url("../img/follow.jpeg") no-repeat center center;
  background-size:cover;
  height: 350px;
  color: #1a649c;
  margin: 
}


.social-media h1 {
  margin-bottom: 30px;
  padding-top: 40px;
  color: #1a649c;
}

.social-media i {
  margin-bottom: 10px;
}







