body {
	font-family: 'Open-sans', sans-serif;
	font-size: 17px;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
}

img {
	width: 100%
}

.container {
	margin: auto;
}



/* Common Classes*/

.primary-text {
	color: #1a649c;
}

.primary-text {
	color: #1a649c;
}

.logo a {
	color:#1a649c; 
}


/*******************************************
HEADER SECTION
********************************************/

#main-header {
	border-bottom: 1px solid #1a649c;
}



/* Desktop Nav */

.desktop-nav .logo a {
    color: #1a649c;
}

.desktop-nav .logo a:hover {
    color: #edee70;
    transition: .5s;
}

#navbar {
	text-transform: uppercase;


}

#navbar li {
	display: inline;
	padding-right: 20px;
	list-style: none;
}


#navbar a {
	text-decoration: none;
	color: #888;
}

#navbar a:hover {
	color:#1a649c;
	border-bottom: 3px solid #1a649c;
}


/* Mobile Nav */

.mobile-nav {
    display: none;
   
}

.mobile-nav .logo {
    display: inline-block;
    float: left;

}

.mobile-nav button {
	background: transparent;
	border: none;
	margin: 0;

}

.mobile-nav .logo-container {
    display: inline-block;
    float: left;
   	margin-left: 4px;
   	margin-top: -35px;
}





@media (max-width: 768px) {
    .hero {
        background-image: url('../img/hero-small.jpg') center center;
    }

    .mobile-nav {
        display: block;
    }

    .desktop-nav {
        display: none;
    }
}

/*******************************************
HERO SECTION
********************************************/

#hero {
	background:linear-gradient(to bottom, rgba(0,0,0,0.40) 0%,rgba(0,0,0,0) 100%), url('../img/hero.jpg')  no-repeat center center;
	height: calc(90vh - 80px);
	width: 100%;
	background-size: cover;
    border-bottom: 1px solid #1a649c;
    margin-bottom: 30px;
}


#hero .row {
	height: 100vh;
}

#hero h1 {
	font-size: 50px;
	color: #fff;
	
}

.hero-button {
	background: transparent;
	padding: 10px 20px;
	margin-top: 20px;
}


/*******************************************
FOOTER SECTION
********************************************/
.fa{
  font-size: 40px;
}

